<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form contactForm">
  <mat-form-field  appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput #firstName  placeholder="Janko" formControlName="firstName">
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput #lastName  placeholder="Hrasko" formControlName="lastName">

  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput #email  placeholder="email@email.com" formControlName="email">

  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput #phoneNumber  placeholder="xxxx xxx xxx" formControlName="phoneNumber">
  </mat-form-field>

  <button *ngIf="contactData == null" mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Add new contact</button>

  <button *ngIf="contactData != null" mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Update contact</button>


</form>
